<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Title {% endblock%} </title>
    <link rel = "stylesheet" href = "{{url_for('static' , filename = 'style_base.css')}}">
</head>
<body>
    <nav>
    <a style = " color : darkblue ; " href = "{{url_for('home')}}" > <b> Home </b></a>
    <a style = " color : orange ; " href = "{{url_for('view_all')}}" > <b>View Notes</b> </a>
    <a style = " color : Green ; " href = "{{url_for('addf')}}" > <b>Add Notes </b></a>
    </nav>
    <hr>
    {% block content %} {% endblock %} 
</body>
</html>